In [31]:
# N

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
x = dataset.iloc[:, [2,3]].values
y = dataset.iloc[:, 4].values

## Splitting the data

In [8]:
from sklearn.cross_validation import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

## Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler

In [25]:
scalar = StandardScaler()

In [26]:
x_train = scalar.fit_transform(x_train)
x_test = scalar.transform(x_test)

/home/raman/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

## Make the classifier and predict the result

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
classifier = GaussianNB()

In [16]:
classifier.fit(x_train, y_train)

GaussianNB(priors=None)

In [27]:
y_pred = classifier.predict(x_test)

## Confusion Matrix

In [28]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[65,  3],
       [ 7, 25]])

## Calculating the Accuracy

In [30]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_pred, y_test)
accuracy

0.90000000000000002